.collection-section {
    margin-top: 54px;
    margin-bottom: 65px;

    .card-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

    .filter-btns {
        display: flex;
        align-items: center;
        margin-bottom: 24px;

        span {
            width: 1px;
            height: 9px;
            background-color: var(--grey-4);
            margin-left: 24px;
            margin-right: 24px;
        }
    }

    .left,
    .right {
        display: flex;


        .filter-btn {
            &:not(:last-child) {
                margin-right: 14px;
            }
        }
    }


    .filter-btn {
        cursor: pointer;
        min-width: 94px;
        border: 1px solid #E0E0E0;
        border-radius: 50px;
        padding: 9px 24px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;

        &.selected {
            background-color: var(--main-blue);
            color: #fff;
        }

        &:hover {
            background-color: var(--main-blue);
            color: #fff;
        }
    }

    .card {
        position: relative;
        max-width: 280px;
        max-height: 370px;

        .wrapper {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
            border-radius: 0px 0px 10px 10px;
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 50%;
            bottom: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            padding-bottom: 24px;
        }



        .title {
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 30px;
            color: var(--grey-5);
            margin-bottom: 16px;
        }

        .btn-label {
            padding: 10px 20px;
            background: rgba(255, 255, 255, 0.3);
            border: 1px solid rgba(255, 255, 255, 0.4);
            border-radius: 50px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 24px;
                height: 24px;
                margin-right: 8px;
            }

            span {
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                vertical-align: center;
                color: #FFFFFF;
            }

            svg {
                margin-left: 10px;
            }
        }
    }
}