.main-slider-small {
    margin-bottom: 24px;
    margin-top: 24px;

    .container {
        display: flex;
        align-items: center;
    }

    .swiper-button-prev,
    .swiper-button-next {
        &::after {
            content: '';
            display: none;
            visibility: hidden;
        }
    }

    .swiper {
        &-slide {
            img {
                width: 48px;
                height: 48px;
            }
        }
    }

    .slider-prev {
        margin-right: 24px;
        cursor: pointer;
    }

    .slider-next {
        margin-left: 25px;
        cursor: pointer;

        svg {
            transform: rotate(180deg);
            margin-left: 2px;
        }
    }

    .slider-next,
    .slider-prev {
        min-width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        border: 1px solid #F2F2F2;

        &:hover {
            background: #F2F2F2;
        }
    }

    // .swiper-slide {
    //     opacity: 0;
    //     transition: all 0.3s ease-in;
    // }

    // .swiper-slide-visible {
    //     opacity: 1;
    // }

    .add {
        margin-right: 14px;
    }
}