:root {
    --grey-1: #4f4f4f;
    --grey-2: #828282;
    --grey-3: #bdbdbd;
    --grey-4: #e0e0e0;
    --grey-5: #f2f2f2;
    --main-blue: #129ad6;
    --main-pink: #db4f76;
    --red: #eb5757;
    --orange: #f2994a;
    --yellow: #f2c94c;
    --green-1: #219653;
    --green-2: #27ae60;
    --green-3: #6fcf97;
}
